.headerLogo {
  display: flex;
  padding: 10px 10px;
  flex-direction: row; }
  .headerLogo h2 {
    font-size: 25px;
    font-family: sans-serif;
    margin: 5px 10px 0px 10px;
    text-transform: uppercase; }
