html
	head
		title Strict
		link(rel = "stylesheet", type = "text/css", href = "css/style.css")
	body
		header
			div.wrap
				div.headerLogo
					img(src="img/logo.png")
					h2 Strict
		section.banner
			div.wrap
				div.bannerElements
					h1 Strict
					p Strict is a responsive theme with a clean and minimal look.
					a(href = "#") Call to action
		section.pure
			div.wrap
				div.pureElements
					h2 Simple & pure design
					p Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit in the web design community. It can be easy to spot a good example of clean design.
		section.feature
			div.wrap
				div.featureResponsive
					img(src="img/mobile.png")
					h4 Optimized for all devices
					p STRICT has been designed to be fully responsive on all devices	
				div.featureClean
					img(src="img/design.png")
					h4 Clean & Minimal Design
					p This multipurpose theme is especially created to be used for different projects.	
				div.featureFontAwesome
					img(src="img/sound.png")
					h4 Font Awesome Icon
					p This multipurpose theme is especially created to be used for different projects.	
		section.hober
			div.wrap
				div.hoberHeader
					h4 Showcase your work like a pro
					p Contact me if you like my works
				div.hoberImagesWorks
					img(src="img/work_1.png")
					img(src="img/work_2.png")
					img(src="img/work_3.png")
					img(src="img/work_4.png")
					img(src="img/work_5.png")
					img(src="img/work_6.png")
		section.contact
			div.wrap
				div.contactHeaderText
					h4 Stay with us
					p We ensure quailty & support
				div.contactUserForm
					form(action="#")
						input(type = "text", placeholder = "Full Name").name
						input(type = "text", placeholder = "Email Address").email
						input(type = "text", placeholder = "Message").message
						input(type = "submit", value = "Send").buttonSend
		footer
			div.wrap
				div.footerTextAbout
					p Copyritht 2014, STRICT
				div.footerIcons
					img(src="img/facebook.png")
					img(src="img/twitter.png")
					img(src="img/google+.png")
					img(src="img/in.png")			